html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter Tight', sans-serif;
    color: var(--black);
    background-color: var(--white);
}
header {
    display: flex;
    width: 90%;
    margin: 3% auto;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
.header_nav_ul {
    display: flex;
    list-style: none;
}
.img_logo {
    width: 32px;
    height: 32px;
}
.logo {
    display: flex;
}
.logo_text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 8px;
}
.header_nav {
    margin: auto;
}
.header_nav_ul>li>a {
    font-family: 'Inter Tight', sans-serif;
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;
}
.header_nav_ul>li:first-child>a {
    margin-left: 0%;
}
a:link,
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover,
a:active {
    color: rgb(0, 0, 0);
}
.Contact_button {
    margin-top: 10px;
    width: 8.5%;
    background-color: white;
    border-width: 1px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer; 
    transition: 0.3s;
    border: 1px solid black;
    text-align: center;
  }
  .Contact_button > span {
    display: inline-flex;
    margin-top: 7%;
  }
.Contact_button:hover {
    opacity: 0.8; 
    transform: scale(1.05); 
  }
.first-section-img {
    min-width: 1376px;
    width: 98%;
    height: 55vh;
    display: flex;
    margin: 3% auto;  
    justify-content: center; 
}
.hesh-tag {
    font-family: 'Inter Tight', sans-serif;
    font-size: 18px;
    color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 15px;
    padding: 3px 10px; 
    background-color: #fff2e0;
    display: inline-block; 
    width: auto; 
    white-space: nowrap;
}
.first-section-text{
    text-align: center;
}
.about_us_first_section-left{
    min-width: 25.7%;
    min-height: 456px !important    ;
    border-top-left-radius: 120px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 24px;

}
.about_us_first_section-right{   
    min-width: 25.7%;
    min-height: 456px;

    border-top-left-radius: 24px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 120px;

}
.about_us_first_section-midl{
    margin: 0 24px 0 24px;
    width: 40%;
    min-width: 46.22%;
    border-radius: 262px;

}
.first-section-BIG-text-span{
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    display: block;
    color: #1B1B1B;
}
.first-section-small-text-span{
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    display: block;
    color: #1B1B1B;
}
.button_class .Book {
    background-color: #ffffff;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin-top: 30px;
    cursor: pointer; 
    transition: 0.3s;
}
.button_class .Book:hover {
    background-color: #FF9900;
    border: none;
    color: rgb(255, 255, 255);
    opacity: 0.8; 
    transform: scale(1.05); 
  }
.Get{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin: 30px 0 0 12px;
    border-width: 1px;
    cursor: pointer; 
    transition: 0.3s;
    border: 1px solid black !important;
    display: block;
}
.button_class .Get:hover {
    opacity: 0.8; 
    transform: scale(1.05); 
}
.button_class{
    width: 20%;
    display: flex;
    margin: auto;
    margin-top: 3%;

}
.first-line-img {
    margin-left: 5%;
}
.first-section{
    background-image: url(../image/backgroubd-img.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 78% 1%;
}
.underline-img {
    float: right;
    margin-right: 30%;
    margin-bottom: 30px;
}
.second-section-main-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    height: 89vh;
}
.second-section-main-element{
    background: #eee;
    padding: 3%;
    width: 94%;
    padding-top: 5%;
}
.second-section-left-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.second-section-left-block-text-element-span{
    display: block;
}
.blog-second-section-img{
    width: 429;
height: 542;
border-radius: 24px;
}
.second-section-left-block-text-element-span{
    font-family: Inter Tight;
font-weight: 500;
font-size: 48px;
line-height: 56px;
letter-spacing: 0%;
color: #1B1B1B;

}
.second-section-midle-block-BIG-text-span{
font-family: Inter Tight;
font-weight: 500;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color: #1B1B1B;
display: block;
}
.second-section-midle-block-text-block>div{
    margin: 5% 0;
}
.second-section-midle-block-small-text-span{

font-family: Inter Tight;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #1B1B1B;
display: block;
}
.second-section-read-button{

gap: 10px;
border-radius: 44px;
padding: 12px 24px;
background: #FF9900;
border: none;
color: white;
font-family: Inter Tight;
font-weight: 500;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
cursor: pointer;
}
.second-section-read-button:hover {

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.second-section-left-block-left-button>img{
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}
.second-section-left-block-left-button>img:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.second-section-left-block-buttons{
    display: flex;
    gap: 3%;
}
.tree-section-main-element-img-block {
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

 .tree-section-main-element-img-block > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 700px;
    background: url("../image/funny-white-dog.png") no-repeat center/cover;
    width: 45%;
    border-radius: 24px;
}
.tree-section-main-element-img-block > div:last-child{
    background: url("../image/funny-white-dog.png") no-repeat center/cover;
}


.tree-section-main-element-img-block-bottom-element {
    grid-row: 2;
    background-color: #f5f5f5;
    border-radius: 0 0 24px 24px;
    padding: 16px;
    position: relative;
    z-index: 1;
    border-radius: 24px;
    margin: 0 2% 1% 2%;
}

.tree-section-main-element-img-block-bottom-element-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blog-tree-section-black-arrow-img {
    width: 32px;
    height: 32px;
}

.blog-tree-section-black-arrow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 50%;
}

.tree-section-main-element-block-bottom-BIG-text-span {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    letter-spacing: 0;
    color: black;
    display: block;
}

.tree-section-main-element-block-bottom-small-text-span {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #575757;
    display: block;
}

.tree-section-main-element-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 14px;
    margin: 3% 0;
}

.tree-section-main-element-nav > li {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #575757;
    border: 1px solid #EBEBEB;
    border-radius: 32px;
    padding: 8px 24px;
}
.tree-section-main-element-nav > li:hover{
    background-color: #1B1B1B;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.tree-section-main-element-searchbar {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    padding: 4px 4px 4px 12px;
    border: 1px solid #EBEBEB;
    margin: 3% auto;
}

.tree-section-main-element-searchbar > div {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.blog-tree-section-search-img {
    width: 24px;
    height: 24px;
}

.eighth-section-search-button-img {
    background-color: black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 16px;
}

input {
    border: none;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #1B1B1B;
}

input::placeholder {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #1B1B1B;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.tree-section-main-element-BIG-text-span{
    font-family: Inter Tight;
font-weight: 500;
font-size: 48px;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
color: #1B1B1B;
display: block;
}
.tree-section-main-element-img-block-bottom-element-header-span{
    width: 100%;
    text-align: center;
    margin: 3% 0;
}
.blog-tree-section-icon-img{
    width: 24px;
    height: 24px;
}

.tree-section-main-element-img-block-bottom-element-header > div {
    display: flex;
    align-items: center;
    gap: 8px;
}
.tree-section-main-element{
    padding: 3% 0;
}
.fourth-section-BIG-text-span{
    font-family: Inter Tight;
font-weight: 500;
font-size: 48px;
line-height: 56px;
letter-spacing: 0%;
color: #1B1B1B;
display: block;
}
.fourth-section-small-text-span{
    font-family: Inter Tight;
font-weight: 500;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
text-align: right;
color: #1B1B1B;
display: block;
}
.fourth-section-text-block{
    display: flex;
    justify-content: space-between;
}
.fourth-section-img-block{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
}
.fourth-section-img-block-BIG-text-span{
    display: block;
    font-family: Inter Tight;
font-weight: 500;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color: #1B1B1B;
}
.fourth-section-img-block-small-text-span{
    display: block;
    font-family: Inter Tight;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #1B1B1B;

}

.fourth-section-img-block-img {
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
    min-height: 700px;
    width: 45%;
}
.fourth-section-img-block-img:first-child{
    width: 20%;
background: url("../image/cute-funny-shih-tzu-breed-dog-outdoors-dog-groomi.png") no-repeat center/cover;
}
.fourth-section-img-block-img:nth-child(2){
    width: 34.51%;
    background: url("../image/couple-with-pet-golden-retriever-dog.png") no-repeat center/cover;
}
.fourth-section-img-block-img:nth-child(3){
    width: 25.76%;
     background: url("../image/grooming-salon-a-small-king-spaniel-dog-a-groomer.png") no-repeat center/cover;
}
.fourth-section-img-block-img:nth-child(4){ 
    width: 23.26%;
    background: url("../image/low-angle-view-of-freelancer-teaching-her-dog.png") no-repeat center/cover;
}
.fourth-section-img-block-img > div {
    grid-row: 2;
    padding: 16px;
    position: relative;
    z-index: 1;
    margin-bottom: 20%;
}
.fourth-section-img-block-img:nth-child(2)> div:first-child{
    margin-bottom: 0%;
        background-color: #e5e5e5;
}
.fourth-section-main-element{
    padding: 3% 0 5% 0;
    width: 100%;
}
.fourth-section-main-element-text-block{
    margin: auto;
    width: 90%;
}
.fourth-section-img-block-img-text-block{

    width: 90%;
    margin: 3% 0 7% 0;
}
.eighth-monit {
    background-image: url('../image/1679878917_papik-pro-p-peizazh-landscape-1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1280px;
    margin-bottom: 3%;
}
.eighth-monit img {
    display: block; 
    width: 100%;
    height: auto;
}
.eight-Big-text{
    padding: 10%;
}
.eight-Big-text-span{
    display: block;
    color: white;
    font-family: 'Inter Tight';
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
}
.eight-small-text-spans{
    margin: 2% 0;
}
.eight-small-text-span{
    color: white;
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
}
.eigth-button{
    font-family: 'Inter Tight';
font-weight: 500;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
color:  #FFFFFF;
width: 140;
height: 50;
gap: 10px;
border-radius: 44px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
background: #FF9900;
border: none;
}

.logo-footer{
    width: 103px;
    height: 32px;
}
.lapka_imge {
    display: block;
    width: 100%;
}
.lapka_imge img {
    display: block;
    margin-bottom: 10px;
}
.lapka_imge img :last-child{
    margin-bottom: 0%;
}
.footer-our-messangers-matrix{
    display: flex;
    list-style: none;
}
.footer-our-messangers-matrix-ul{
    list-style: none;
}
.footer-icons{
    display: flex;
}
.footer-icons-img-link-ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
.footer-icons-img-link-ul>li>a>img{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
.footer-icons-text-span{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: auto;
}

.footer-our-messangers-matrix-ul-li-a{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white !important;
}
.footer-text-special{
    background-color:rgba(27, 27, 27, 1);
    border-radius: 24px;
}
.footer-text{
    background-color:rgba(27, 27, 27, 1);
    width: 95%;
    border-radius: 24px;
    margin: auto;

    
}

.footer{
    background-color: #1b1b1b;
    width: 95%;
    margin: auto;
    border-radius: 24px;
    min-height: 70vh;
}
.footer-our-messangers-matrix{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15%;
    padding: 0%;
}
.footer-our-messangers-matrix-ul{
    list-style: none;
    padding: 0%;
}
.footer-our-messangers-matrix-ul-li-a{
        font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white !important;
    text-decoration: none;
}
.footer-icons{
    display: flex;
    width: 83% !important;
    margin-left: 20%;
    
}
.footer-icons-img-link-ul{
    display: flex;
    gap: 18px;
    list-style: none;
    margin: 5%;
    padding: 0%;
}
.footer-icons-img-link{
    margin-left: 35% !important;
}
.footer-icons-img-link-ul-li>a>img{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
.footer-icons-text-span{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    
    color: white;
    display: inline-flex;
    margin: auto;
    margin-top: 10%;
}
.footer-our-messangers-matrix-ul-li{
    margin: 25% 0;
}
.footer-our-messangers-matrix-ul-li>a{
    white-space: nowrap;
}
.footer-main-element > div:last-child{
    display: flex;
    flex-direction: column;
    width: 95.56%;
    height: 80vh;
}
.footer-special-element{
    width: 50%;
    height: 45vh;
    margin-right: 10%;
}
.footer-main-element > div:last-child > div {
    width: 100%;
}
.footer-main-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.footer-main-element{
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.custom-background-section {
    position: relative;
    width: 50%;
    height: 558px;
    margin: 20px 0;
    overflow: visible;
}

.background-image {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.big-lapka-div {
    width: 442px;
    height: 442px;
    top: 30.5%;
    left: 0px;
    background: url('../image/footer-main-big-lapka.png') no-repeat center / contain;
    z-index: 2;
    border-bottom-left-radius: 24px !important;
}

.big-lapka-small {
    width: 117px;
    height: 117px;
    top: 37%;
    left: 50%;
    background: url('../image/footer-main-medium-lapka.png') no-repeat center / contain;
    z-index: 3;
}

.big-lapka-small-second {
    width: 100px;
    height: 100px;
    top: 25%;
    left: 15%;
    transform: rotate(25.95 deg);
    background: url('../image/footer-main-small-lapka.png') no-repeat center / contain;
    z-index: 4;
}
.footer-logo-img{
    width: 100px;
    height: 32px;
    top: 5%;
    left: 5%;
    background: url('../image/footer-logo-img.png') no-repeat center / contain;
    z-index: 1;
}
.header-mobi,
.m-span{
    display: none;
}
.second-section-midle-block-main{
    display: none;
}
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  background: #FF9900;
  border-radius: 24px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.chat-header {
  padding: 10px;
  background: #FF9900;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-chat {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 5px;
  max-width: 80%;
}

.message.operator {
  background: #f1f1f1;
  align-self: flex-start;
}

.message.user {
  background: #F5F5F5;
  color: rgb(0, 0, 0);
  align-self: flex-end;
  margin-left: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}

.chat-input button {
  padding: 8px 15px;
  background: #FF9900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {

.header-mobi{
    display: flex;
    justify-content: space-between;
}


.img_logo {
    width: 80px;
    height: 80px;
}
.header-mobi > button {
    width: 7.3vh;
    height: 7.3vh;
    border: 1px solid black;
    margin: 3%;
}
.header-mobi > button > image {
    width: 6vh;
    height: 6vh;
}
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 12px;
}
.icons8-50{
    width: 45px;
    height: 45px;
}
.dot {
    width: 4px;
    height: 4px;
    background-color: #333;
    border-radius: 50%;
}
.dropdown-menu {
    position: absolute;
    top: -15px;
    right: 0px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px 0;
    display: none;
    min-width: 40%;
    height: 100%;
    z-index: 1000;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.8);
}
.dropdown-menu > li {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 2vh;
    padding-top: 8px;
    margin: 5vh 0;
    margin-left: 2vh;
}
.dropdown-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #808080;
}
.dropdown-menu a:hover {
    background-color: #f5f5f5;
}
.dropdown-menu.show {
    display: block;
}
.logo_text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 8px;
    margin-top: 15%;
}
.header-mobi{
    display: flex;
    justify-content: space-between;
}
.header-main{
    display: none;
}


.second-section-left-block-text-element-span,
.first-section-BIG-text-span{
    font-size: 30px;
    line-height: 30px;
}
.first-section-small-text-span{
    font-size: 18px;
    line-height: 18px;
}
.first-section-small-text{
    margin-top: 5%;
}
.button_class{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 90%;
    margin: auto;
}
.button_class > a {
    width: 80%;
    text-align: center;
}
.Get{
    margin: 5% 0% !important;
}
.underline-img{
    margin-top: 5vh;
}

.first-line-img,
.first-section-img{
    display: none;
}
.second-section-main-element{
    display: flex;
    flex-direction: column;
    gap: 0;
    
}
.second-section-left-block-text-element-span,
.second-section-left-block-buttons{
    display: none;
}
.second-section-left-block{
    height: 30vh !important;
}
.m-span{
    display: inline-flex;
}
.blog-second-section-img{
    width: 15vh;
    height: 15vh;
}
.second-section-midle-block{
    display: flex;
}
.second-section-midle-block-BIG-text-span{
    font-size: 24px;
    line-height: 24px;
    margin-top: 5%;
    text-align: center;
}
.second-section-midle-block-m{
    display: block;
}
.second-section-midle-block-m-img-and-div{
    display: flex;
}
.second-section-midle-block-small-text-span{
    font-size: 15px;
    line-height: 15x;
}
.second-section-read-button{
    width: 80%;
    margin: 0% 10% !important;
}
.second-section{
    height: 110vh !important;
}
.second-section-midle-block-main{
    display: none;
}
.second-section-left-block{
    flex: 0.7;
}
.second-section-midle-block-m{
    flex: 2;
}
.tree-section-main-element-BIG-text-span{
    font-size: 30px;
    line-height: 30px;
}
.tree-section-main-element-searchbar{
    width: 80%;
    margin: 3% auto;
}
.tree-section-main-element-img-block{
    flex-direction: column;
    margin: 3% 3% 3% 3vh;
}
.tree-section-main-element-img-block > div {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40vh !important;
    border-radius: 24px !important;
}
.tree-section-main-element-img-block-bottom-element{
    margin-top: -35vh !important;
}
.tree-section-main-element-block-bottom-BIG-text-span{
    font-size: 24px !important;
    line-height: 24px !important;
}
.tree-section-main-element-img-block-bottom-element-header-span{
    font-size: 11px;
    line-height: 11px;
}

.eighth-monit{
    height: 60vh;
}
.eight-Big-text-spans > span {
    font-size: 30px;
    line-height: 30px;
}
.eigth-button{
    background: none;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0%;
    margin-top: 5vh;
    height: auto;
}
.eigth-button > a {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    background-color: #FF9900;
    padding: 2% 10%;
    border-radius: 24px;
    color: white;
    text-align: center;
}
.eight-small-text-span{
    display: block;
    margin-top: 5vh;
}

.footer-our-messangers-matrix-ul-li-a{
    color: black;
}
.footer-our-messangers-matrix li:nth-last-child(-n+2) {
  display: none;
}
.footer-our-messangers-matrix{
    width: 100%;
    margin-top: 10vh !important;
    float: left;
}
.footer-our-messangers-matrix-ul{
    margin: 0;
}
.footer-main-element > div:nth-child(2){
    width: 100% !important;
    height: 70vh;
}
.big-lapka-div{
    display: none;
}
.footer-icons{
    display: block;
    margin: 0%;
    margin-top: 15vh;
}
.footer-icons-text-span{
    font-size: 18px;
    line-height: 18px;
    width: fit-content;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.custom-background-section{
    width: 20%;
}
.footer-main-block{
    justify-content: flex-start;
    float: left;
    height: 50vh !important;
    margin-left: 5vh;
    width: 50% !important;
}
.footer-icons-img-link{
    margin: 0% !important;
}
.footer-icons-img-link-ul:first-child{
    margin-left: 0;
}
.big-lapka-small{
    left: 15vh;
    top: 45vh;
}
.footer{
    height: 80vh !important;
    margin: 3% 1vh 1% 1.5vh;
}
.custom-background-section{
    height: 60vh;
}
.footer-our-messangers-matrix{
    gap: 14px !important;
}
.footer-logo-img{
    left: 5vh;
}
.tree-section-main-element-nav{
    padding: 0%;
    flex-direction: column;
    width: 80%;
    gap: 0;
}
.tree-section-main-element-nav > li {
    width: 100%;
    margin: 0% 8%;
    margin-bottom: 2%;
}
.eigth-button{
    background: none;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0%;
    margin-top: 5vh;
    height: auto;
}
.eigth-button > a {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    background-color: #FF9900;
    padding: 2% 10%;
    border-radius: 24px;
    color: white;
    text-align: center;
}
.fourth-section-text-block{
    flex-direction: column;
}
.fourth-section-BIG-text-span{
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
.fourth-section-BIG-text-span:last-child{
    margin-bottom: 5%;
}
.fourth-section-img-block-img:not(:nth-child(2)) {
    display: none;
}
.fourth-section-img-block:nth-child(2){
    width: 100%;
}

.fourth-section-img-block {
    display: block;
    margin-top: 5%;
    width: 100%;
}
.fourth-section-img-block-img{
    width: 100% !important;
}
.m-span{
    text-align: center;
}
.second-section-left-block-text-element{
    width: 80%;
    margin: auto;
}
}