html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter Tight', sans-serif;
    color: var(--black);
    background-color: var(--white);
    height: 100%;
}
span {
    font-family: 'Inter Tight';
    display: block;
}
header {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
.header_nav_ul {
    display: flex;
    list-style: none;
}
.img_logo {
    width: 32px;
    height: 32px;
}
.logo {
    display: flex;
}
.logo_text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 8px;
}
.header_nav {
    margin: auto;
}
.header_nav_ul>li>a {
    font-family: 'Inter Tight', sans-serif;
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;
}
.header_nav_ul>li:first-child>a {
    margin-left: 0%;
}
a:link,
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover,
a:active {
    color: rgb(0, 0, 0);
}
.Contact_button {
    margin-top: 2%;
    width: 8.5%;
    background-color: white;
    border-width: 1px;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    padding: 1%;
}
main {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    gap: 40px;
    background-image: url(image/Pet-lapka.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 90% 15%;
    padding-bottom: 4%;
}
.text_info {
    width: 50%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main_img {
    width: auto;
    margin: 0 30px 25px 0;
    display: flex;
    gap: 30px;
}
.first-line-photo,
.second-line-photo {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
.first-line-photo img,
.second-line-photo img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    margin: 0;
}
.first-line-photo .left {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.first-line-photo .right {
    border-radius: 50%;
}
.second-line-photo .left {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.second-line-photo .right {
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.hesh-tag {
    font-family: 'Inter Tight', sans-serif;
    font-size: 18px;
    background-color: #fff2e0;
    color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 15px;
    padding: 4px 12px;
    width: 45% !important;
}
.Book:hover,
.Get:hover  {
    background-color: #FF9900 !important;
    border: 0px !important;
    color: white !important;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.button_class .Book:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.Get, .Book {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin: 30px 0 0 12px;
    border: 1px solid black !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.button_class .Get:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.Big-text>span {
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    color: #1B1B1B;
    display: block;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Big-text {
    width: 630px;
    height: 216px;
}
.text_info>div:nth-child(3) {
    width: 394px;
    height: 52px;
}
.text_info>div:nth-child(3) p {
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #1B1B1B;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0;
}
.like-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    max-height: 30px;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    gap: 37px;
    position: absolute;
    background: #FF9900;

}
.like-footer>ul>li {
    display: flex;
    font-size: 24px;
    margin-right: 10px;
    color: white;
    list-style: none;
}
.like-footer-ul {
    display: flex;
}
.small_lapka {
    max-width: 40px;
    max-height: 40px;
    background-size: 90%;
}
.first-line-img {
    float: right;
    margin-right: 16%;
}
.big-black-cat {
    height: 436px;
    width: 508px;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    padding: 0px 20px 100px 0px;
}
.top-image{
width: 40%;
height: 55%;
border-bottom-right-radius: 180px;
border-bottom-left-radius: 180px;
margin-bottom: 3%;
}
.bottom-left-image{
    width: 40.42%;
    height: 57.71%;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.bottom-right-image{
    width: 50.42%;
    height: 41.5%;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    margin-top: -18%;
    margin-left: 5%;
}
.Pet-bottom-photo{
    display: flex;
    gap: 24px;
}
.Pet-top-line{
    width: 20%;
    margin: 5% 0 5% 40%;
}
.hesh-tag{
    display: block;
    width: 56.64%;
    margin: 5% 0 5% 0;
}
.Hash_and_text{
    width: 56.64%;
    margin: 5% 0 5% 0;
}
.Text-descr-span{
    display: block;
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #1B1B1B;
}
.underline-img{
    width: 20%;
    height: 10%;
    margin: 5% 0;
    margin-left: 20%;
}
.Pet-text{
    width: 50%;
}
.Pet-photo{
    width: 50%;
}
.first-section-text-block-grid-line{
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 3%;
}
.first-section-number {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 24px; 
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    width: 52px; 
    height: 52px;
    border-radius: 50%;
    padding: 5px; 
    background-color: #FF9900;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-section-text-block-grid-line-small-text-span{
    display: block;
    font-family: Inter Tight;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #575757;
}
.first-section-text-block-grid-line-BIG-text-span{
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #1B1B1B;
    width: 100%;
    margin: 30% 0 10% 0;
}
.first-section-text-block-header-span{
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #1B1B1B;
    display: block;
}
.first-section-first-main-element{
    display: flex;
    justify-content: center;
    width: 90%;
}
.emergency-service-first-section-img{
    width: 43.61%;
    height: 92vh;
    border-radius: 24px;
}
.first-section{
    padding: 5% 0;
}
.first-section-text-block{
    margin-left: 5%;
}
.first-section-text-block-header{
    margin-bottom: 10%;
}
.first-section-text-block-grid-line > div {
    box-shadow: 8px 12px 12px 0px #5757570A;
    border: 1px solid #EBEBEB;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
}
.first-section-tel-container {
    width: 88.89%;
    background-color: #1B1B1B; 
    position: relative; 
    border-radius: 10px;
    padding: 1% 0;
    margin: 3% auto;
}
.first-section-tel-emergency-span{
    font-family: Inter Tight;
font-weight: 500;
font-size: 40px;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
color: White;
}

.first-section-tel-container-a {
    margin: 1% auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FFFFFF1F;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
}

.emergency-service-tel-img {
    width: 75px;
    height: 75px;
    object-fit: contain;
}
.bg-image-1 {
    position: absolute;
    width: 201.45px;
    height: 201.45px;
    top: 5%;
    left: 3%;
    background-image: url("../image/bg-image-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-2.27deg);
}
.bg-image-2 {
    position: absolute;
    transform: rotate(18.69 deg);
    background-image: url("../image/bg-image-2.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 88px;
    height: 88px;
    top: 10%;
    left: 20%;
}
.bg-image-3 {
    position: absolute;
    transform: rotate(30 deg);
    background-image: url("../image/bg-image-2.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 95px;
    height: 95px;
    top: 75%;
    left: 25%;


}
.bg-image-4 {
    position: absolute;
    transform: rotate(18.69 deg);
    background-image: url("../image/bg-image-4.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 102px;
    height: 102px;
    top: 20%;
    left: 61%;
}
.bg-image-5 {
    position: absolute;
    transform: rotate(18.69 deg);
    background-image: url("../image/bg-image-2.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 230px;
    height: 230px;
    top: 50%;
    left: 70%;

}
.bg-image-6 {
    position: absolute;
    transform: rotate(-23.09 deg);
    background-image: url("../image/bg-image-6.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 201px;
    height: 201px;
    top: 1%;
    left: 85%;
}
.second-section-text-header-span{
    display: block;
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    color: Black;
}
.second-section-content-BIG-text-span{
    font-family: Inter Tight;
font-weight: 500;
font-size: 32px;
line-height: 40px;
letter-spacing: 0%;
display: block;
color: Black;
margin-bottom: 3%;
}
.second-section-content-descr-text-span{
    display: block;
    font-family: Inter Tight;
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color: #4D4A4F;
}
.second-section-content-time-text-span{
    font-family: Inter Tight;
font-weight: 400;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
display: block;
color: #1B1B1B;
}
.second-section-content-question-li-element-span,
.second-section-content-question-span{
    font-family: Inter Tight;
font-weight: 500;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
display: block;
color: #1B1B1B;
}
.second-section-button{
    font-family: Inter Tight;
font-weight: 400;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
color: #FF9900;
background-color: #1B1B1B;
width: 261;
height: 62;
gap: 10px;
border-radius: 50px;
padding: 15px;
}
.second-section-content-question-ul{
    list-style: none;
    padding: 0%;
    margin-bottom: 15%;
    margin-top: 5%;
}
.second-section-content-question-li-element{
    display: flex;
    margin: 3% 0;
}
.small_lapka_plan-img{
    width: 25px;
    height: 25px;
}
.second-section-time-block{
    display: flex;
    margin: 5% 0;
}
.emergency-timer-img{
    width: 24px;
    height: 24px;
}
.second-section-content-question-li-element-span{
    margin: auto 0.5%;
    margin-bottom: 0.5%;
}
.second-section-content-block{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
}
.emergency-second-section-img{
    width: 35%;
    height: 55vh;
    border-radius: 24px;
}
.second-section-main-element{
    background-color: #F5F5F5;
    padding: 3%;
}
.second-section-content-question-span{
    margin: 1% 1;
}
.second-section-content-descr-text-div{
    margin-bottom: 5%;
}

.logo-footer{
    width: 103px;
    height: 32px;
}
.lapka_imge {
    display: block;
    width: 100%;
}
.lapka_imge img {
    display: block;
    margin-bottom: 10px;
}
.lapka_imge img :last-child{
    margin-bottom: 0%;
}
.footer-our-messangers-matrix{
    display: flex;
    list-style: none;
}
.footer-our-messangers-matrix-ul{
    list-style: none;
}
.footer-icons{
    display: flex;
}
.footer-icons-img-link-ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
.footer-icons-img-link-ul>li>a>img{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
.footer-icons-text-span{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: auto;
}

.footer-our-messangers-matrix-ul-li-a{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white !important;
}
.footer-text-special{
    background-color:rgba(27, 27, 27, 1);
    border-radius: 24px;
}
.footer-text{
    background-color:rgba(27, 27, 27, 1);
    width: 95%;
    border-radius: 24px;
    margin: auto;

    
}
.eighth-monit {
    background-image: url('../image/1679878917_papik-pro-p-peizazh-landscape-1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1280px;
    margin-bottom: 3%;
}
.eighth-monit img {
    display: block; 
    width: 100%;
    height: auto;
}
.eight-Big-text{
    padding: 10%;
}
.eight-Big-text-span{
    display: block;
    color: white;
    font-family: 'Inter Tight';
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
}
.eight-small-text-spans{
    margin: 2% 0;
}
.eight-small-text-span{
    color: white;
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
}
.eigth-button{
    font-family: 'Inter Tight';
font-weight: 500;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
color:  #FFFFFF;
width: 140px;
height: 50px;
gap: 10px;
border-radius: 44px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
background: #FF9900;
border: none;
}
.eigth-button:hover{
    color: white;
    cursor: pointer;
}
.button_class .Book {
    background-color: #FF9900;
    border: 0px;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 30px;
}
.button_class .Get {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 24px;
    margin: 30px 0 0 12px;
}
.button_class{
    margin-top: 5%;
}
.footer{
    background-color: #1b1b1b;
    width: 95%;
    margin: auto;
    border-radius: 24px;
    min-height: 70vh;
}
.footer-our-messangers-matrix{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15%;
    padding: 0%;
}
.footer-our-messangers-matrix-ul{
    list-style: none;
    padding: 0%;
}
.footer-our-messangers-matrix-ul-li-a{
        font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white !important;
    text-decoration: none;
}
.footer-icons{
    display: flex;
    width: 83% !important;
    margin-left: 20%;
    
}
.footer-icons-img-link-ul{
    display: flex;
    gap: 18px;
    list-style: none;
    margin: 5%;
    padding: 0%;
}
.footer-icons-img-link{
    margin-left: 35% !important;
}
.footer-icons-img-link-ul-li>a>img{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
.footer-icons-text-span{
    font-family: 'Inter Tight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    
    color: white;
    display: inline-flex;
    margin: auto;
    margin-top: 10%;
}
.footer-our-messangers-matrix-ul-li{
    margin: 25% 0;
}
.footer-our-messangers-matrix-ul-li>a{
    white-space: nowrap;
}
.footer-main-element > div:last-child{
    display: flex;
    flex-direction: column;
    width: 95.56%;
    height: 80vh;
}
.footer-special-element{
    width: 50%;
    height: 45vh;
    margin-right: 10%;
}
.footer-main-element > div:last-child > div {
    width: 100%;
}
.footer-main-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.footer-main-element{
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.custom-background-section {
    position: relative;
    width: 50%;
    height: 558px;
    margin: 20px 0;
    overflow: visible;
}

.background-image {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.big-lapka-div {
    width: 442px;
    height: 442px;
    top: 41.2%;
    left: 0px;
    background: url('../image/footer-main-big-lapka.png') no-repeat center / contain;
    z-index: 2;
    border-bottom-left-radius: 24px !important;
}

.big-lapka-small {
    width: 117px;
    height: 117px;
    top: 47%;
    left: 50%;
    background: url('../image/footer-main-medium-lapka.png') no-repeat center / contain;
    z-index: 3;
}

.big-lapka-small-second {
    width: 100px;
    height: 100px;
    top: 35%;
    left: 15%;
    transform: rotate(25.95 deg);
    background: url('../image/footer-main-small-lapka.png') no-repeat center / contain;
    z-index: 4;
}
.footer-logo-img{
    width: 100px;
    height: 32px;
    top: 5%;
    left: 5%;
    background: url('../image/footer-logo-img.png') no-repeat center / contain;
    z-index: 1;
}
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  background: #FF9900;
  border-radius: 24px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chat-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.chat-header {
  padding: 10px;
  background: #FF9900;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-chat {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 5px;
  max-width: 80%;
}

.message.operator {
  background: #f1f1f1;
  align-self: flex-start;
}

.message.user {
  background: #F5F5F5;
  color: rgb(0, 0, 0);
  align-self: flex-end;
  margin-left: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}

.chat-input button {
  padding: 8px 15px;
  background: #FF9900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.header-mobi{
    display: none;
}







@media (max-width: 768px) {

.header-mobi{
  width: 100%;
    display: flex;
    justify-content: space-between;
}


.img_logo {
    width: 80px;
    height: 80px;
}
.header-mobi > button {
    width: 7.3vh;
    height: 7.3vh;
    border: 1px solid black;
    margin: 3%;
}
.header-mobi > button > image {
    width: 6vh;
    height: 6vh;
}
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 12px;
}
.icons8-50{
    width: 45px;
    height: 45px;
}
.dot {
    width: 4px;
    height: 4px;
    background-color: #333;
    border-radius: 50%;
}
.dropdown-menu {
    position: absolute;
    top: -15px;
    right: 0px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px 0;
    display: none;
    min-width: 40%;
    height: 100%;
    z-index: 1000;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.8);
}
.dropdown-menu > li {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 2vh;
    padding-top: 8px;
    margin: 5vh 0;
    margin-left: 2vh;
}
.dropdown-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #808080;
}
.dropdown-menu a:hover {
    background-color: #f5f5f5;
}
.dropdown-menu.show {
    display: block;
}
.logo_text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 8px;
    margin-top: 15%;
}
.header-mobi{
    display: flex;
    justify-content: space-between;
}
main{
  width: 100%;
  margin: 0%;
  padding-bottom: 5vh;
}
.Big-text-span{
  font-size: 30px !important;
  line-height: 30px;
  text-align: center;
}
.Pet-text{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Hash_and_text{
  width: 100%;
}
.Big-text{
  height: auto;
  width: 100%;
}
.Text-descr{
  width: 80%;
  margin: auto;
}
.button_class{
  width: 90%;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  gap: 2vh;
  margin: auto;
}
.button_class > a{
  width: 80%;
  margin: auto;
  text-align: center;
}
.Get{
  margin: auto !important;
}
.hesh-tag{
  width: fit-content !important;
  margin-left: 5%;
}
.like-footer-ul > li {
  font-size: 16px !important;
  line-height: 16px !important;
}
.first-section-main-element{
  width: 100%;
  background: none;
  margin: 0%;
}
.first-section{
  width: 100% !important;
  max-width: 768px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  
}
.first-section-main-descr-text-span{
  display: inline-flex;
  font-size: 16px !important;
  line-height: 11px !important;
}
.first-section-main-text-block{
  height: 60vh;
}
.first-section-main-BIG-text-span{
  margin-top: 4vh;
  width: fit-content;
  text-align: center;
}
body {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  .first-section-main-descr-text-block{
    width: 75%;
  }
  .first-section-main-text-buttons{
    display: inline-flex;
    max-width: 75% !important;
  }
  .first-section-main-text-buttons > a {
    font-size: 18px;
    line-height: 18px;
  }
.Pet-photo,
.header-main{
    display: none;
}
.Big-text-span,
.first-section-main-BIG-text-span,
.second-section-text-block-span,
.first-section-text-block-header-span,
.second-section-text-header-span{
  font-size: 30px !important;
  line-height: 30px !important;
}
.second-section-content-BIG-text-span{
    font-size: 24px !important;
  line-height: 24px !important;
}
.second-section-content-descr-text-span,
.second-section-content-question-span{
    font-size: 16px !important;
  line-height: 16px !important;
}
.second-section-content-question-li-element-span{
    font-size: 18px !important;
  line-height: 18px !important;
}
.emergency-second-section-img{
    height: 25vh;
}
.emergency-service-first-section-img{
    display: none;
}
.first-section-text-block{
    margin-top: 7vh;
}
.second-section-button{
    display: block;
    width: 30vh !important;
    position: absolute;
    left: 5vh;
}
.second-section-content-block:first-child{
    margin-top: 7vh;
}
.second-section-content-block{
    margin-top: 10vh;
}
.second-section-content-question-ul{
    margin-bottom: 2vh;
}
.second-section-main-element{
    padding-bottom: 10vh;
}

.footer-our-messangers-matrix-ul-li-a{
    color: black;
}
.footer-our-messangers-matrix li:nth-last-child(-n+2) {
  display: none;
}
.footer-our-messangers-matrix{
    width: 100%;
    margin-top: 10vh !important;
    float: left;
}
.footer-our-messangers-matrix-ul{
    margin: 0;
}
.footer-main-element > div:nth-child(2){
    width: 100% !important;
    height: 70vh;
}
.big-lapka-div{
    display: none;
}
.footer-icons{
    display: block;
    margin: 0%;
    margin-top: 10vh;
}
.footer-icons-text-span{
    font-size: 18px;
    line-height: 18px;
    width: fit-content;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.custom-background-section{
    width: 20%;
}
.footer-main-block{
    height: 40vh !important;
}
.footer-icons-img-link{
    margin: 0% !important;
}
.footer-icons-img-link-ul:first-child{
    margin-left: 0;
}
.big-lapka-small{
    left: 15vh;
    top: 35vh;
}
.footer{
    margin: 3% 1vh 1% 1.5vh;
}
.custom-background-section{
    height: 60vh;
}
.footer-our-messangers-matrix{
    gap: 14px !important;
}
.footer-logo-img{
    left: 5vh;
}
.eight-Big-text-span{
    font-size: 36px;
    line-height: 36px;
}
.eight-small-text-span{
    display: block;
    margin-top: 5vh;
}

.eigth-button{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0%;
    margin-top: 5vh;
    height: auto;
    color: rgb(0, 0, 0);
    background-color: #ffffff !important;
    padding: 1vh 2vh;
    width: 80%;
    cursor: pointer;
    border: 1px solid black;
}
.eigth-button:hover{
    border: none;
    cursor: pointer;
    background-color: #FF9900 !important;
    color: rgb(255, 255, 255);
}
.eight-Big-text{
    padding: 5%;
    width: 90%;
    padding-top: 10%;
}
.eight-small-text-span{
    display: block;
    margin-top: 5vh;
}
.eighth-monit{
    width: 100%;
    height: 70vh;
}
.bg-image-6,
.bg-image-5{
    display: none;
}
  .like-footer-ul > li:nth-last-child(1),
  .like-footer-ul > li:nth-last-child(2),
  .like-footer-ul > li:nth-last-child(3),
  .like-footer-ul > li:nth-last-child(4){
    display: none;
  }
}